nav {
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #33261F;
}

.fondo {
    background-color: #33261F;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: rgb(3, 209, 154);
    inherits: false;
}
  
@property --myColor2 {
    syntax: '<color>';
    initial-value: rgb(6, 202, 166);
    inherits: false;
}

@property --myColor3 {
    syntax: '<color>';
    initial-value: rgba(0,187,187,1);
    inherits: false;
}

@property --porcentaje {
    syntax: '';
    initial-value: 32%;
    inherits: false;
}

.seccion {
    --porcentaje: 32%;

    font-weight: 500;

    color: rgb(49, 49, 49);
    transition: 0.5s;
    background: linear-gradient(90deg, var(--myColor1) 0%, var(--myColor2) var(--porcentaje), var(--myColor3) 100%);
    transition: --myColor1 0.3s, --myColor2 0.3s, --myColor3 0.3s, --porcentaje 0.3s;
}

.seccion:hover {
    --myColor1: rgba(0,187,187,1);
    --myColor3: rgb(3, 209, 154);
    --porcentaje: 68%;
}

.main-text {
    margin-top: 1.2em;
    margin-left: 2.2em;
    color: #BDBDBD;
    font-size: 3em;
    font-weight: 700;
}

#everything {
    color: white;
}

#search {
    background: -webkit-linear-gradient(rgb(255, 153, 0) 0%, #f05d08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#more {
    color: #33261F;
    text-shadow: 2px 0 #BDBDBD, -2px 0 #BDBDBD, 0 2px #BDBDBD, 0 -2px #BDBDBD,
    1px 1px #BDBDBD, -1px -1px #BDBDBD, 1px -1px #BDBDBD, -1px 1px #BDBDBD;
}

.description {
    margin-top: 4em;
    margin-left: 6.8em;
    color: #BDBDBD;
    font-weight: 400;
    word-break: break-word;
}

.bestSellerImg {
    margin-top: 4em;
    margin-right: 6.8em;
    width: 20em;
    transition: 0.5s;
}

.bestSellerImg:hover {
    margin-top: 3.5em;
    margin-right: 6.3em;
    width: 21em;
    filter: grayscale(50%);
}

.botonesCommerces {
    padding-top: 4em;
    padding-left: 6.8em;
}

#textbutton {
    padding: 0.5em;

    background-color: #996A4F;
    border-radius: 0.2em;

    color: #2c2c2c;
}

#commercesbutton {
    padding: 0.5em;
    margin-left: 13.5em;

    background-color: #A34610;
    border-radius: 0.2em;

    color: #2c2c2c;
}