.main-text {
    margin-top: 1.2em;
    margin-left: 2.2em;
    color: #BDBDBD;
    font-size: 3em;
    font-weight: 700;
}

#everything {
    color: white;
}

@property --colorHover1 {
    syntax: '<color>';
    initial-value: rgb(255, 153, 0);
    inherits: false;
}

@property --colorHover2 {
    syntax: '<color>';
    initial-value: #f05d08;
    inherits: false;
}

#search {
    --porcent: 0%;
    transition: --colorHover1 1s, --colorHover2 1s;
    background: linear-gradient(var(--colorHover1) 0%, var(--colorHover2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search:hover {
    --porcent: 50%;
    --colorHover1: #f05d08;
    --colorHover2: rgb(255, 153, 0);
}

#more {
    color: #33261F;
    text-shadow: 2px 0 #BDBDBD, -2px 0 #BDBDBD, 0 2px #BDBDBD, 0 -2px #BDBDBD,
    1px 1px #BDBDBD, -1px -1px #BDBDBD, 1px -1px #BDBDBD, -1px 1px #BDBDBD;
}

.description {
    margin-top: 5em;
    margin-left: 6.8em;
    color: #BDBDBD;
    font-weight: 400;
    word-break: break-word;
}

.bestSellerImg {
    margin-top: 4em;
    margin-right: 6.8em;
    width: 20em;
    transition: 0.5s;
}

.bestSellerImg:hover {
    margin-top: 3.5em;
    margin-right: 6.3em;
    width: 21em;
    filter: grayscale(50%);
}

.botonesCommerces {
    position: absolute;

    padding-top: 3em;
    padding-left: 6.8em;

    font-weight: 500;
}

.boton {
    transition: 0.5s;
}

.boton:hover {
    transform: translate(0%, -10%);
}

#textbutton {
    padding: 0.5em;

    background-color: #996A4F;
    border-radius: 0.2em;
    color: #efc2a8;
}

#textbutton:hover {
    color: #413027;
}

#commercesbutton {
    padding: 0.5em;
    margin-left: 13.5em;

    background-color: #A34610;
    border-radius: 0.2em;
    color: #ffac7b;
}

#commercesbutton:hover {
    box-shadow: 0 0 40px 5px #A34610;
    color: #ffd8c2;
}