@property --textColor {
    syntax: '<color>';
    initial-value: #007076;
    inherits: false;
}

@property --everythingColor {
    syntax: '<color>';
    initial-value: #00a3ab;
    inherits: false;
}

.main-text {
    margin-top: 1.2em;
    margin-left: 2.2em;
    color: var(--textColor);
    font-size: 3em;
    font-weight: 700;
}

#everything {
    color: var(--everythingColor);
}

@property --colorHover1 {
    syntax: '<color>';
    initial-value: #FF9D00;
    inherits: false;
}

@property --colorHover2 {
    syntax: '<color>';
    initial-value: #ff9b05;
    inherits: false;
}

@property --colorHover3 {
    syntax: '<color>';
    initial-value: #C7004F;
    inherits: false;
}

#search {
    --porcent: 0%;
    transition: --colorHover1 1s, --colorHover3 1s;
    background: linear-gradient(90deg, var(--colorHover1) 0%, var(--colorHover2) 60%, var(--colorHover3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search:hover {
    --colorHover1: #C7004F;
    --colorHover3: #FF9D00;
}

#more {
    color: #F0E7DE;
    text-shadow: 2px 0 var(--textColor), -2px 0 var(--textColor), 0 2px var(--textColor), 0 -2px var(--textColor),
    1px 1px var(--textColor), -1px -1px var(--textColor), 1px -1px var(--textColor), -1px 1px var(--textColor);
}

.description {
    margin-top: 5em;
    margin-left: 6.8em;
    color: var(--textColor);
    font-weight: 400;
    word-break: break-word;
}

.bestSellerImg {
    margin-top: 4em;
    margin-right: 6.8em;
    width: 20em;
    transition: 0.5s;
}

.bestSellerImg:hover {
    margin-top: 3.5em;
    margin-right: 6.3em;
    width: 21em;
    filter: grayscale(50%);
}

.botonesCommerces {
    position: absolute;

    padding-top: 3em;
    padding-left: 6.8em;

    font-weight: 500;
}

.boton {
    transition: 0.5s;
}

.boton:hover {
    transform: translate(0%, -10%);
}

#textbutton {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    background-color: #a33f5f;
    border-radius: 0.2em;
    color: #dccad0;
}

#textbutton:hover {
    color: #52001a; 
}

#commercesbutton {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 15.5em;

    background-color: #c7004f;
    border-radius: 0.2em;
    color: #f1b5cf;
}

#commercesbutton:hover {
    box-shadow: 0 0 40px 5px #C7004F;
    color: #f9edf1;
}

.card {
    margin-top: 4.3em;
    margin-left: 8em;

    background: url('./imgs/arcade_machine.jpg');
    background-size: cover;

    width: 18em;
    height: 27em;

    transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-elements {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);

    background: rgba(0,0,0, .2);
    opacity: 0;

    width: 18em;
    height: 1em;
}

.card-elements-holder {
    background-color: #ff9d00;
    color: rgb(46, 46, 42);
    
    width: 18em;
    height: 1em;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);

    padding: 5%;
}

.card-text {
    font-size: 2em;
    font-weight: 700;
}

.card-description {
    margin: 0.5em;
    margin-bottom: 1em;
}

#card-button {
    font-weight: 500;
    margin-left: 9.6em;

    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    background-color: #7e0028;
    border-radius: 0.2em;
    color: #dccad0;
}

.card:hover {
    margin-top: 3.8em;
    margin-left: 7.5em;

    width: 19em;
    height: 28em;
}

.card:hover .card-elements {
    opacity: 1;
    width: 19em;
    height: 28em;
}

.card:hover .card-elements-holder {
    width: 19em;
    height: 11em;
}

#card-button:hover {
    box-shadow: 0 0 10px 5px #7e0028;
}