.searcher {
    margin-top: 1em;
    margin-left: 1.1em;
}

.searcher-text {
    background-color: #fcd699;
    color: rgb(59, 57, 55);

    padding-left: 3.5%;

    height: 2.2em;
    width: 100%;

    border-radius: 0.3em;
}

.search-icon {
    margin-left: 1.2em;
    margin-top: 0.5em;
}

.searcher-search {
    margin-top: -0.3em;
    padding: 0.2em;
    background-color: rgb(163, 141, 118);
    color: rgb(240, 220, 196);
    height: 2.2em;

    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-style: solid;
    border-color: rgb(110, 94, 78);
    border-width: 0.15em;
}