.searcher {
    margin-top: 1em;
    margin-left: 1.1em;
}

.searcher-text {
    background-color: rgb(207, 179, 146);
    color: rgb(87, 73, 58);

    height: 2.2em;

    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-right: 0em;
    border-style: solid;
    border-color: rgb(87, 73, 58);
}

.searcher-search {
    margin-top: -0.3em;
    padding: 0.2em;
    background-color: rgb(163, 141, 118);
    color: rgb(240, 220, 196);
    height: 2.2em;

    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-style: solid;
    border-color: rgb(110, 94, 78);
    border-width: 0.15em;
}